@if (User.Role == "Admin")
{
<h1 class="text-center text-mishmash">Welcome, Admin-@User.Username!</h1>
}
@else
{
<h1 class="text-center text-mishmash">Welcome, @User.Username!</h1>
}
<br/>
<h2 class="text-mishmash">Your channels</h2>
<hr class="hr-2 bg-mishmash" />
<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        @for(var i = 0; i < Model.YourChannels.Count(); i++)
        {
        { var channel = Model.YourChannels.ToList()[i]; }
        @if (i % 5 == 0 && i > 0)
        {
    </div>
    <div class="row d-flex justify-content-start mt-3">
        }
        <div class="rounded col-md-2 mx-3 bg-mishmash text-center text-white">
            <span>@channel.Name</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.Type Channel</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.FollowersCount Following</span>
            <hr class="hr-2 bg-white text-white" />
            <span>Following</span>
        </div>
        }
    </div>
</div>
<br/>
<h2 class="text-mishmash">Suggested</h2>
<hr class="hr-2 bg-mishmash" />
<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        @for(var i = 0; i < Model.SuggestedChannels.Count(); i++)
        {
        { var channel = Model.SuggestedChannels.ToList()[i]; }
        @if (i % 5 == 0 && i > 0)
        {
    </div>
    <div class="row d-flex justify-content-start mt-3">
        }
        <div class="rounded col-md-2 mx-3 bg-mishmash text-center text-white">
            <span>@channel.Name</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.Type Channel</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.FollowersCount Following</span>
            <hr class="hr-2 bg-white text-white" />
            <a href="/Channels/Follow?id=@channel.Id" class="text-white">Follow</a> &nbsp;
            <a href="/Channels/Details?id=@channel.Id" class="text-white">Details</a>
        </div>
        }
    </div>
</div>
<br/>
<h2 class="text-mishmash">See other</h2>
<hr class="hr-2 bg-mishmash" />
<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        @for(var i = 0; i < Model.SeeOtherChannels.Count(); i++)
        {
        { var channel = Model.SeeOtherChannels.ToList()[i]; }
        @if (i % 5 == 0 && i > 0)
        {
    </div>
    <div class="row d-flex justify-content-start mt-3">
        }
        <div class="rounded col-md-2 mx-3 bg-mishmash text-center text-white">
            <span>@channel.Name</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.Type Channel</span>
            <hr class="hr-2 bg-white text-white" />
            <span>@channel.FollowersCount Following</span>
            <hr class="hr-2 bg-white text-white" />
            <a href="/Channels/Follow?id=@channel.Id" class="text-white">Follow</a> &nbsp;
            <a href="/Channels/Details?id=@channel.Id" class="text-white">Details</a>
        </div>
        }
    </div>
</div>