<h2>The Cake</h2>
<section>
    <h3 id="cakes">Our cakes</h3>
    <p>
        <strong><em>Cake</em></strong> is a form of <strong><em>sweet dessert</em></strong> that is typically baked.
        In its oldest forms, cakes were modifications of breads,
        but cakes now cover a wide range of preparations that
        can be simple or elaborate, and that share features with
        other desserts such as pastries, meringues, custards, and pies.
    </p>
    @foreach (var cake in Model.AllProducts)
    {
        <div><img src="@cake.ImageUrl" alt="Cake" width="500" height="400"></div><br/><p><h3><em>@cake.Name</em></h3></p><br/>
    }
</section>
<section>
    <h3 id="stores">Our Stores</h3>
    <p>
        Our stores are located in 21 cities all over the world. Come and see what we have for you.
    </p>
    <img src="https://image.shutterstock.com/image-photo/melbourne-australia-january-21-2017-260nw-583019314.jpg">
</section>